.App {
  text-align: center;
}
.ListarVideos{
  width: 25vw;
  float: left;
  border: 1px solid rgba(0,0,0,.225);
  margin-top: 5vh;
  height: 75vh;
  overflow: auto;
  overflow-x: hidden;
}
.ListarVideos {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.225) white;
}

/* Works on Chrome, Edge, and Safari */
.ListarVideos::-webkit-scrollbar {
  width: 12px;
}

.ListarVideos::-webkit-scrollbar-track {
  background: orange;
}

.ListarVideos::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid orange;
}
.ListarVideos table{
  width: 100%;
}
.inputbox[type=text] {
  margin-top: 1vh;
  width: 25vw;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://i.imgur.com/drIqvV8.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.3s ease-in-out;
}

.inputbox[type=text]:focus {
  width: 50vw;
}
.videos{
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-top: 20px;
  border: 1px solid rgba(0,0,0,.125);
}
.videos:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.videos p{
  word-wrap: break-word;
  float: left;
  width: 45%;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.videos iframe{
  float: left;
  height: 100%;
  width: 50%;
}
.MainIframe{
  float: left;
  width: 65vw;
  height: 74vh;
  margin-left: 5vw;
  margin-top: 5vh;

}
